body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url('/img/spacee.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0%;
}

header {
    margin: auto;
    text-align: center;
    font-size: xx-large;
    margin: 7px 60px 7px 60px;
    padding: 10px;
    color: #BE95C4;
} 

article {
    border: 3px solid #413768;
    font-size: large;
    background-color: #9F86C0;
    margin: 7px 60px 7px 60px;
    padding: 10px;
}

nav {
    border: 3px solid #9F86C0;
    background-color: #9F86C0;
    position: sticky;
    margin: 0;
}

li {
    text-align: center;
    list-style-type: none;
}

ol {
    border: 3px solid #413768;
    font-size: large;
    background-color: #9F86C0;
    margin: 7px 60px 7px 60px;
    padding: 10px;
}