body {
    background-color: #f4e8c1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    border: 1px solid black;
    margin: auto;
    width: 80%;
    justify-content: center;
}